#header{
    width: 100%;
    height: 100px;
    background-size: cover;
    text-align: center;
    display: inline-block;
    color: white;
    
}

#body{
    font-family: 'Roboto', sans-serif;
}

#footer{
    color: rgb(199, 32, 38);
}

.imageneshome{
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}


.inline td{
    display: inline-block;
    float: left;
}

.overflow td{
    overflow: visible;
}

.tablaprincipal td {
    vertical-align: top;
}

.imagenesbiografia img {
padding: 5px;
}

.formulario {
    margin: 5px;
}

.formulario label{
    padding: 50px;
    margin: 5px;
}

.formulario input{
    padding: 5px;
    margin: 5px;
}